<html>
    <head>
        <title>
            {{ .Meta.Name }}
        </title>

        <h1>{{ .Meta.Name }}</h1>

        <h2>{{ .Meta.Tagline }}</h2>

        {{if and (.Meta.HasUploadPassword) (eq .Password "")}}
            {{ .Meta.Name }} restricts who can upload to it with a password. Enter it below to gain access to the upload form.

            <form action="/upload" method="GET">
                <input type="password" name="password" placeholder="Upload password" />
                <input type="submit" />
            </form>
        {{else}}
            All files under {{ .Meta.MaxUploadSizeMB }} MB are accepted{{if .Meta.ExtensionBlacklist }} except {{ .Meta.ExtensionBlacklist }}{{end}}.

            <br><br>

            <form action="" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit">
            </form>
        {{end}}

        <hr>

        <i>Powered by <a href="https://github.com/antigravities/rainy" target="_blank" rel="noreferrer">Rainy</a> &middot; <a href="/">Modern mode</a></i>
    </head>
</html>